@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@400;700;800;900&display=swap");

.App {
  font-family: "Biryani", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 800;
}

.next-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  border-radius: 15px;
  background-color: white;
  height: 88px;
  width: 231px;
  text-transform: uppercase;
  color: white;
  background-color: #c10016;
  outline: none;
  font-size: 18px;
  font-weight: 800;
  font-family: "Biryani", sans-serif;
  border: none;
}

.next-card-button:hover {
  background-color: #ad0014;
  color: rgb(240, 240, 240);
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  text-transform: uppercase;
  align-items: center;
}

.card {
  font-size: 25px;
  width: 30vw;
  height: 30vh;
  margin: 5vh;
  background-color: white;
  color: #c10016;
  border-radius: 50px;
  filter: drop-shadow(0 0px 20px rgb(216, 216, 216));
  box-shadow: 0 5px 5px 1px rgb(80, 80, 80);
  padding: 50px;
}

.title {
  color: #c10016;
  font-size: 30px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-weight: 800;
}