#login_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-top: 200px;
}

#cardBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: white;
    border-radius: 30px;
    padding: 20px;
    width: 50vw;
}

#card {
    background-color: darkred;
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;
    padding: 23px 33px;
    border: 3px solid transparent;
}